*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica;
}

h1{
    text-align: center;
    margin-top: 16px;
    font-size: 24px;
    font-weight: 600;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.card{
    width: 35%;
    height: 180px;
    padding: 8px;
    flex-direction: column;
    background-color: aqua;
    border-radius: 8px;
    box-shadow: 0 4px 8px 4px #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.card:hover{
    box-shadow: 0 4px 8px 4px #525252;
    transform: scale(1.035);
    transition: all .3s ease-in-out;
}

.super-center{
    min-height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form input, form button{
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #000000;
    outline: none;
}

input{
    border: transparent;
    background-color: #eaeaea;
    border: 8px;
}

form button{
    background-color: crimson;
    border: none;
    color: #eaeaea;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

form button:hover{
    background-color: #b50e30;
    color: white;
    transition: all .3s ease-in-out;
    transform: scale(1.025);
}

